# 1. Deny everything at root
/*

# 2. Allow essential root files
!/go.mod
!/go.sum

# 3. Allow top-level directories (but their contents remain ignored by default)
!/appengine/
!/lib/
!/static/

# 4. Handle appengine/ contents
/appengine/*
!/appengine/*.go
!/appengine/*.yaml

# 5. Handle lib/ contents (un-ignore parent directories to allow recursion)
!/lib/**
/lib/**/*_test.go
/lib/**/testdata/

# 6. Handle static/ root contents
/static/*
!/static/*.html
!/static/*.js
!/static/*.css
!/static/*.txt

# 7. Handle bower_components (Path-by-path un-ignoring)
# We must allow the directory itself, then ignore its contents, then allow sub-paths.
!/static/bower_components/
/static/bower_components/*

# --- Angular ---
!/static/bower_components/angular/
/static/bower_components/angular/*
!/static/bower_components/angular/angular.min.js
!/static/bower_components/angular/angular-csp.css

# --- Bootstrap ---
!/static/bower_components/bootstrap/
/static/bower_components/bootstrap/*
!/static/bower_components/bootstrap/dist/
/static/bower_components/bootstrap/dist/*
!/static/bower_components/bootstrap/dist/css/
/static/bower_components/bootstrap/dist/css/*
!/static/bower_components/bootstrap/dist/css/bootstrap.css
!/static/bower_components/bootstrap/dist/js/
/static/bower_components/bootstrap/dist/js/*
!/static/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js

# --- Font Awesome ---
!/static/bower_components/components-font-awesome/
/static/bower_components/components-font-awesome/*
!/static/bower_components/components-font-awesome/css/
/static/bower_components/components-font-awesome/css/*
!/static/bower_components/components-font-awesome/css/all.min.css
!/static/bower_components/components-font-awesome/webfonts/
!/static/bower_components/components-font-awesome/webfonts/*
