# Files in here do not get uploaded to AppEngine
# To see what does, run:
#   gcloud app deploy --project myip-158305 --appyaml appengine/app.yaml --no-promote --verbosity=debug

node_modules

# Ignore the git directory!
.git
.gitignore
.cache
.idea

# Ignore everything in bower_components except what we actually need
static/bower_components/**/README*
static/bower_components/**/LICENSE*
static/bower_components/**/package.json
static/bower_components/**/bower.json
static/bower_components/**/composer.json
static/bower_components/**/component.json
static/bower_components/**/*.md
static/bower_components/**/*.txt
static/bower_components/**/*.map
static/bower_components/**/*.gzip
static/bower_components/**/*.js
static/bower_components/**/*.less
static/bower_components/**/*.scss

# Re-allow only the minified files and actual dependencies used in static/index.html
!static/bower_components/bootstrap/dist/css/bootstrap.css
!static/bower_components/angular/angular.min.js
!static/bower_components/angular/angular-csp.css
!static/bower_components/angular-bootstrap/ui-bootstrap.min.js
!static/bower_components/angular-bootstrap/ui-bootstrap-csp.css
!static/bower_components/components-font-awesome/css/font-awesome.min.css
!static/bower_components/components-font-awesome/fonts/*

# Keep fonts since they are often needed by the CSS
!static/bower_components/bootstrap/dist/fonts/*

# General ignores
static/bower_components/bootstrap/grunt
static/bower_components/bootstrap/less
static/bower_components/bootstrap/nuget
static/bower_components/bootstrap/docs
static/bower_components/bootstrap/js
static/bower_components/bootstrap/grunt
static/bower_components/bootstrap/Gruntfile.js
static/bower_components/bootstrap/package.js
static/bower_components/bootstrap/_config.yml
static/bower_components/bootstrap/Gemfile*
static/bower_components/components-font-awesome/less
static/bower_components/components-font-awesome/scss
static/bower_components/components-font-awesome/Makefile
