# Files in here do not get uploaded to AppEngine
# To see what does, run:
#   gcloud app deploy --project myip-158305 --appyaml appengine/app.yaml --no-promote --verbosity=debug

node_modules

# Ignore the git directory!
.git
.gitignore
.cache
.idea

# Ignore everything in bower_components by default
static/bower_components/**

# Re-allow only the specific files used in static/index.html
!static/bower_components/bootstrap/dist/css/bootstrap.css
!static/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js
!static/bower_components/bootstrap/dist/fonts/*
!static/bower_components/angular/angular.min.js
!static/bower_components/angular/angular-csp.css
!static/bower_components/components-font-awesome/css/all.min.css
!static/bower_components/components-font-awesome/webfonts/*
